:root {
    --header-bg-color: #3c633a;
    --footer-bg-color: #304929;
    --sidebar-bg-color: #81bf74;
    --text-field-bg-color: #669563;
    --main-bg-color: #f1f1f1;
    --secondary-text-color: white;
    --main-text-color: black;
    --login-grid-background-color: #8ec6c3;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: var(--header-bg-color);
    color: var(--main-text-color);
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-bg-color);
    color: var(--secondary-text-color);
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.sidebar-content {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main {
    grid-area: main;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 20px;
    display: grid;
    grid-template-areas:
        "main-image main-image main-image"
        "text-area text-area text-area";
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.footer {
    grid-area: footer;
    background-color: var(--footer-bg-color);
    color: var(--secondary-text-color);
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.main-image {
    grid-area: main-image;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main-image img {
    max-width: 100%;
    max-height: 300px; /* Set a max height for uniformity */
    object-fit: cover;
}

.text-area {
    grid-area: text-area;
    background-color: var(--text-field-bg-color);
    align-content: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    .main-image {
        grid-template-columns: 1fr; /* Adjust to single column for smaller screens */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
        grid-template-rows: auto 0.5fr auto auto;
        grid-template-columns: 1fr;
    }

    .header, .footer, .sidebar, .main {
        padding: 10px;
    }

    .main-image {
        grid-template-columns: 1fr;
    }

    .main-image img {
        max-height: 200px;
    }

    .header {
        font-size: 20px;
    }

    .footer, .sidebar {
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .grid-container {
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
        grid-template-rows: auto 0.5fr auto auto;
        grid-template-columns: 1fr;
    }

    .header, .footer, .sidebar, .main {
        padding: 10px;
    }

    .main-image {
        grid-template-columns: 1fr;
    }

    .main-image img {
        max-height: 200px;
    }

    .header {
        font-size: 20px;
    }

    .footer, .sidebar {
        font-size: 16px;
    }
}

@media (max-width: 414px) {
    .grid-container {
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
        grid-template-rows: auto 0.5fr auto auto;
        grid-template-columns: 1fr;
    }

    .header, .footer, .sidebar, .main {
        padding: 10px;
    }

    .main-image {
        grid-template-columns: 1fr;
    }

    .main-image img {
        max-height: 200px;
    }

    .header {
        font-size: 20px;
    }

    .footer, .sidebar {
        font-size: 16px;
    }
}

@media (max-width: 390px) {
    .grid-container {
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
        grid-template-rows: auto 0.5fr auto auto;
        grid-template-columns: 1fr;
    }

    .header, .footer, .sidebar, .main {
        padding: 10px;
    }

    .main-image {
        grid-template-columns: 1fr;
    }

    .main-image img {
        max-height: 200px;
    }

    .header {
        font-size: 20px;
    }

    .footer, .sidebar {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .grid-container {
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
        grid-template-rows: auto 0.5fr auto auto;
        grid-template-columns: 1fr;
    }

    .header, .footer, .sidebar, .main {
        padding: 10px;
    }

    .main-image {
        grid-template-columns: 1fr;
    }

    .main-image img {
        max-height: 200px;
    }

    .header {
        font-size: 20px;
    }

    .footer, .sidebar {
        font-size: 16px;
    }
}
